<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="header">
    <div class="top-line">
        <div class="content">
            <!-- logo -->
            <a href="../home/index.html" th:href="@{/}" title="EatSmart" class="top-logo"></a>
            <!-- phone -->
            <div class="top-phone">+7 (495) 123-45-67</div>
            <!-- email -->
            <div class="top-email">eda@eatsmart.ru</div>
            <!-- soc-button -->
            <a href="javascript:void(0);" target="_blank" class="top-sb1"></a>
            <a href="javascript:void(0);" target="_blank" class="top-sb2"></a>
            <a href="javascript:void(0);" target="_blank" class="top-sb3"></a>
        </div>
    </div>
</div>

</body>
</html>