<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="menu">
    <div class="top-menu-carr">
        <div class="content">
            <!-- top-menu -->
            <a href="../home/index.html#menu" th:href="@{/#menu}" class="top-menu tm1">МЕНЮ</a>
            <a href="../home/order.html" th:href="@{/order}" class="top-menu tm2">ОФОРМИТЬ<br/>ЗАКАЗ</a>
            <a href="../home/recommendation.html" th:href="@{/recommendation}" class="top-menu tm3">СОВЕТЫ<br/>ДИЕТОЛОГА</a>
            <a href="../home/contacts.html" th:href="@{/contacts}" class="top-menu tm4">КОНТАКТЫ</a>
            <a href="../signin/signin.html" th:href="@{/signin}" class="top-menu a-enter">ВХОД/<br/>РЕГИСТРАЦИЯ</a>
        </div>
    </div>
</div>

</body>
</html>